# Rules in this file were initially inferred by Visual Studio IntelliCode from the D:\coding\FinCalcR codebase based on best match to current usage at 31/12/2020
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference

# top-most EditorConfig file
root = true

[*]

# ReSharper properties
resharper_autodetect_indent_settings=true

# ReSharper inspection severities
resharper_arrange_this_qualifier_highlighting=none
resharper_inconsistent_naming_highlighting=suggestion

[*.cs]

# Alignments
insert_final_newline=true

# Indention
csharp_indent_case_contents=true
csharp_indent_switch_labels=true

# New Line
csharp_new_line_before_catch=true
csharp_new_line_before_else=true
csharp_new_line_before_finally=true
csharp_new_line_before_members_in_object_initializers=false
csharp_new_line_before_open_brace=all

# Other
csharp_place_type_constraints_on_same_line=false

#Formatting - organize using options

# Usings
dotnet_sort_system_directives_first=true

# Spaces
csharp_space_after_cast=false
csharp_space_after_colon_in_inheritance_clause=true
csharp_space_after_keywords_in_control_flow_statements=true
csharp_space_before_colon_in_inheritance_clause=true
csharp_space_between_method_call_empty_parameter_list_parentheses=false
csharp_space_between_method_call_name_and_opening_parenthesis=false
csharp_space_between_method_call_parameter_list_parentheses=false
csharp_space_between_method_declaration_empty_parameter_list_parentheses=false
csharp_space_between_method_declaration_parameter_list_parentheses=false

# Wrapping
csharp_preserve_single_line_blocks=false:warning
csharp_wrap_before_first_type_parameter_constraint=true:warning

# Code Block
csharp_prefer_braces=true:warning

# Expression Bodied Member Options
csharp_style_expression_bodied_accessors=true:suggestion
csharp_style_expression_bodied_constructors=false:suggestion
csharp_style_expression_bodied_methods=true:suggestion
csharp_style_expression_bodied_properties=true:suggestion

# Expression Level Options
csharp_style_inlined_variable_declaration=true:suggestion
dotnet_style_predefined_type_for_member_access=true:warning
dotnet_style_object_initializer=true:suggestion

# Implicit and explicit Types
csharp_style_var_elsewhere=true:suggestion
csharp_style_var_for_built_in_types=true:suggestion
csharp_style_var_when_type_is_apparent=true:suggestion

# Language Keyword and Framework Type Options
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion

# Miscellaneous Preferences
csharp_style_pattern_local_over_anonymous_function=false:suggestion

# Modifier Options
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion

# Modifier Preferences
csharp_preferred_modifier_order=public,private,protected,static,readonly,override,async,abstract,virtual:suggestion

# Qualification Options
dotnet_style_qualification_for_event=true:none
dotnet_style_qualification_for_field=true:none
dotnet_style_qualification_for_method=true:none
dotnet_style_qualification_for_property=true:none

#Style - StyleCop Analyzer
#StyleCop Settings to prevent clashes

#SA0001XmlCommentAnalysisDisabled
dotnet_diagnostic.SA0001.severity=none
#SA1124DoNotUseRegions
dotnet_diagnostic.SA1124.severity=none
#SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity=none
#SA1602EnumerationItemsMustBeDocumented
dotnet_diagnostic.SA1602.severity=none
#SA1633FileMustHaveHeader
dotnet_diagnostic.SA1633.severity=none

#Style - Sonarlint
#S1135: Track uses of "TODO" tags
dotnet_diagnostic.S1135.severity=suggestion

#Style - Rosylnator
#RCS1032: Remove redundant parentheses
dotnet_diagnostic.RCS1032.severity=warning
#RCS1118: Mark local variable as const
dotnet_diagnostic.RCS1118.severity=warning
#RCS1179: Unnecessary assignment
dotnet_diagnostic.RCS1179.severity=warning

[*.{appxmanifest,build,config,csproj,dbml,discomap,dtd,jsproj,lsproj,njsproj,nuspec,proj,props,proto,resw,resx,StyleCop,targets,tasks,vbproj,xml,xsd}]
indent_style=tab
indent_size=tab
tab_width=4

[*.{asax,ascx,aspx,cs,cshtml,css,htm,html,js,jsx,master,razor,skin,ts,tsx,vb,xaml,xamlx,xoml}]
indent_style=space
indent_size=4
tab_width=4

[*.{json,resjson}]
indent_style=space
indent_size=2
tab_width=2
